<div class="inner-main">
    <div class="container marg-top-20">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 form-alignment">
                <div class="table-responsive">
                    <table class="table table-striped table-inverse">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Avatar</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Password</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th [ngStyle]="{'text-align': 'right'}">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users; let i=index">
                                <td *ngIf="user.user_avatar" scope="row" class="user-avatar">
                                    <img src="http://localhost:4000/uploads/{{user.user_avatar}}" class="img-responsive" alt="Image">
                                </td>
                                <td *ngIf="!user.user_avatar" scope="row" class="user-avatar">
                                    <img src="../../assets/images/icon.png" class="img-responsive" alt="Image">
                                </td>
                                <td>{{user.user_name | titlecase }}</td>
                                <td *ngIf="user.user_email">{{user.user_email}}</td>
                                <td *ngIf="!user.user_email">--</td>
                                <td *ngIf="user.user_password">{{user.user_password}}</td>
                                <td *ngIf="user.user_role">{{user.user_role | titlecase}}</td>
                                <td *ngIf="!user.user_role">--</td>
                                <td *ngIf="user.user_status == 'active'"><span class="alert-success active-user"></span>Active</td>
                                <td *ngIf="user.user_status == 'inactive'"><span class="alert-danger deactive-user"></span>Inactive</td>
                                <td class="action">
                                    <fa-icon (click)="edit_user(user._id)" [icon]="faEdit"></fa-icon> |
                                    <fa-icon (click)="del_user(user._id)" [icon]="faRemove"></fa-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>