@import '../node_modules/@angular/material/prebuilt-themes/custom-theme.css';

/*--------------------------------------------------------------
  2. Magic Scroll
  --------------------------------------------------------------*/

header {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0072ff+0,3ca2ea+100 */
    background: #0072ff;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #0072ff 0%, #3ca2ea 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #0072ff 0%, #3ca2ea 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #0072ff 0%, #3ca2ea 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

header .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 26px;
}

header .navbar-nav {
    padding: 0 30px;
}

header .navbar-nav .nav-link {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    display: block;
}

.marg-top-20 {
    margin-top: 50px;
}

.form-alignment {
    display: block;
    margin: 0 auto;
}